<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/documents_template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<title>IVOA.net</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="Title" content="IVOA Documents and Standards" />
	<meta name="Keywords" content="IVOA, International, Virtual, Observatory, Alliance, Semantics, RDF, Vocabulary" />
	<meta name="maintainedBy" content="IVOA Semantics Working Group" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />

	<style type="text/css">
		#license {
			font-size: 80%;
			margin-top: 1rem;
			margin-bottom: 1rem;
			margin-left: 2rem;
			margin-right: 2rem;
		}
	</style>
</head>
<body>
<!-- Header -->
<div id="header">
  <div class="shell">
    <h1 id="logo" class="notext"><a href="http://www.ivoa.net"></a></h1>
    <!-- Navigation -->
    <div id="navigation">
      <ul>

        <li><a href="/"><span>Home</span></a></li>
        <li ><a href="/astronomers/"><span>Astronomers</span></a></li>
        <li><a href="/deployers"><span>Deployers</span></a></li>
        <li class="active"><a href="/members/"><span>Members</span></a></li>
        <li><a href="/about/"><span>About</span></a></li>

      </ul>
    </div>
    <!-- End Navigation -->
  </div>
</div>
<!-- END Header -->
<!-- Heading -->
<div id="heading">
  <div class="shell">
    <div class="cl">&#xa0;</div>
    <div class="heading-cnt">
      <!-- InstanceBeginEditable name="PageTitle" -->
      <h2>IVOA Vocabularies</h2><!-- InstanceEndEditable -->
      <!-- InstanceBeginEditable name="PageBody" -->

<center>
</center><br/>
<table width="85%" border="0" align="center" cellspacing="5">
  <tr>
    <td align="center"><a href="/documents/">DOCUMENTS</a></td>
    <td align="center"><a href="/xml/">XML SCHEMA</a></td>
    <td align="center"><a href="/rdf/">VOCABULARIES</a></td>
    <td align="center"><a href="/cgi-bin/up.cgi">DOC SUBMISSION</a></td>
  </tr>
</table>

VOCAB_LIST_HERE

<p id="license">Unless specified otherwise on the vocabulary page,
IVOA vocabularies and their metadata are made available under
<a href="http://creativecommons.org/publicdomain/zero/1.0/">CC-0</a> by the
<a href="https://wiki.ivoa.net/twiki/bin/view/IVOA/IvoaSemantics">IVOA
Semantics Working Group</a>.  To learn how to work with and improve
IVOA vocabularies, see <a
href="http://ivoa.net/documents/Vocabularies/20200326/">Vocabularies in the VO
2</a>.</p>
</div>

<br/><br/><br/>
<div class="doccoordinator"><a title="IVOA Document Coordinator" href="mailto:ivoadoc@ivoa.net">::ivoa document coordinator::</a></div>

</div>
    <p><img src="/images/ivoa_logoc2.jpg" alt="" width="238" height="129" align="middle" class="right" /></p>
    <div class="cl"><span class="right">&nbsp;</span></div>
  </div>

<div id="features">
  <div class="shell">
    <div class="features-cnt">
      <div class="cl"><span class="right">&#xa0;</span></div>
      <!-- Feature 1 -->
      <div class="feature">
            <h2>For Astronomers</h2>
        <a href="/astronomers/" class="left"><img src="/css/images/ivoa_astronomers.jpg" alt="" /></a>
        <p><a class="blueback" href="/astronomers/getting_started.html">Getting Started</a> / <a href="/astronomers/using_the_vo.html" class="blueback">Using the VO<br />
        </a><a href="/astronomers/vo_glossary.html" class="blueback">VO Glossary</a> / <a href="../astronomers/applications.html" class="blueback">VO Applications</a><br />
        <a href="/newsletter/index.html" class="blueback">IVOA newsletter</a> / <a href="/astronomers/vo_for_public.html" class="blueback">VO for Students &amp; Public</a><br />
        <a href="/astronomers" class="more"></a></p>

      </div>
      <!-- End Feature 1 -->
      <!-- Feature 2 -->
      <div class="feature less-padding">
        <h2>For Deployers/Developers</h2>
        <a href="/deployers/" class="left"><img src="/css/images/ivoa_deployers.jpg" alt="" /></a>
        <p><a href="/deployers/intro_to_vo_concepts.html" class="blueback">Intro to VO Concepts</a> / <a href="/documents" class="blueback"><br />
IVOA Standards</a> / <a href="/cgi-bin/twiki/bin/view/IVOA/PublishingInTheVONew" class="blueback">Guide to Publishing in the VO</a> / <a href="/cgi-bin/twiki/bin/view/IVOA/VOGlossary" class="blueback"> Technical Glossary</a><a href="/deployers/" class="more"></a></p>
      </div>
      <!-- End Feature 2 -->
      <!-- Feature 3 -->
      <div class="feature no-padding">
<h2>For Members</h2>
        <a href="/members/" class="left"><img src="/css/images/ivoa_members.jpg" alt="" /></a>
        <p><a href="/cgi-bin/twiki/bin/view/IVOA/IvoaEvents" class="blueback">IVOA Calendar </a>/ <a href="/members/index.html" class="blueback">Working Groups</a>/ <a href="/cgi-bin/twiki/bin/view/IVOA/WebHome" class="blueback">Twiki</a> / <a href="/documents" class="blueback">Documents in Progress</a> / <a href="/members/index.html" class="blueback">Mailing Lists</a> / <a href="../about/roadmap.html" class="blueback">IVOA Roadmap</a><a href="/members/" class="more"></a></p>

      </div>
      <!-- End Feature 3 -->
      <div class="cl">&#xa0;</div>
    </div>
</div>
<!-- End Feature 3 -->
<div class="cl">&#xa0;</div>
    </div>
<!-- End Features -->
<!-- Footer -->
<div id="footer">
  <div class="shell">
    <div class="cl">&#xa0;</div>
    <p class="copy">&#169; IVOA.net. Contact the<a href="mailto:ivoadoc@ivoa.net"> IVOA Webmaster</a></p>
    <div class="cl">&#xa0;</div>
  </div>
</div>
<!-- End Footer -->
</body>
<!-- InstanceEnd --></html>
